.main-container{
    display: flex;
    flex-direction: column;
    width: 80%;

}
.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meta-data-container:hover{
    fill-opacity: 2;
    cursor: pointer;
}
.image-bg{
    background-color: gray;
}